package components

templ Button(text string, variant string) {
	<button class={ "btn", "btn-" + variant }>
		{ text }
	</button>
}

templ PrimaryButton(text string) {
	@Button(text, "primary")
}

templ SecondaryButton(text string) {
	@Button(text, "secondary")
}
